;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Sep  3 22:22:00 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("des"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '(".emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/habwtl/.emacs"
  ".emacs"
  'emacs-lisp-mode
  nil
  720
  '(647 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

